{{#basic-dropdown as |dropdown|}}
  <div class="input-group">
  <a class="btn btn-block btn-outline-secondary dropdown-toggle" data-ebd-id="{{dropdown.uniqueId}}-trigger" {{action dropdown.actions.toggle}}>
    {{-ion "calendar"}}
    {{#if (moment-is-valid currentDay)}}
      <span class="d-none d-lg-inline">{{moment-format currentDay displayFormat}}</span>
    {{else}}
      <span class="d-none d-lg-inline">Never</span>
    {{/if}}
  </a>
  {{#if canRemove}}
  <button class="input-group-addon btn btn-secondary" {{action 'removeDate'}} disabled={{isRemoveDisabled}}>
    {{-ion "android-close"}}
  </button>
  {{/if}}
  </div>
  {{#dropdown.content}}
    <div class="card">
      <div class="card-body">
        {{#power-calendar
          center=center
          selected=selected
          onCenterChange=(action (mut center) value="moment")
          onSelect=(action "selectDate" value="moment") as |calendar|
        }}

          {{calendar.nav}}
          <button class="btn btn-sm btn-outline-secondary btn-block mt-3" {{action "centerToday"}}>Go to Today</button>
          <div {{action dropdown.actions.close}}>
            {{calendar.days showDaysAround=showDaysAround minDate=(readonly minDate) maxDate=(readonly maxDate)}}
          </div>

        {{/power-calendar}}
      </div>
    </div>
  {{/dropdown.content}}
{{/basic-dropdown}}
