

<button class="btn btn-sm btn-primary" type="button" {{action "displayModal"}}>{{entypo-icon "plus"}} Add Link</button>

{{#bs-modal show=isModalShowing as |modal|}}
  {{#model-form
    model=link
    shouldAutosave=false
    onSubmit=(action "addLink" link modal.actions.hide) as |form|
  }}
    {{#modal.header}}
      <h5 class="modal-title">Add Link</h5>
      <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="link-label">Link Title {{required-field-label}}</label>
            {{input type="text" value=form.model.label id="link-label" required=true class="form-control"}}
            <div class="invalid-feedback">
              Please provide a link title.
            </div>
          </div>
          <div class="form-group">
            <label for="link-url">URL {{required-field-label}}</label>
            {{input type="url"  value=form.model.url id="link-url" required=true class="form-control" placeholder="https://www..."}}
            <div class="invalid-feedback">
              Please provide a valid URL.
            </div>
          </div>
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <button class="btn btn-success" type="submit">
        {{entypo-icon "check"}} Add
      </button>
    {{/modal.footer}}
  {{/model-form}}
{{/bs-modal}}

{{!-- {{#each values as |kv|}}
<div class="row align-items-end">
  <div class="form-group col">
    {{input
      type="text"
      class="form-control"
      value=kv.label
      focusOut=(action "update")
    }}
  </div>
  <div class="form-group col">
    {{input
      type="text"
      placeholder="https://..."
      class="form-control"
      value=kv.url
      focusOut=(action "update")
    }}
  </div>
  <div class="form-group col-2">
    <button type="submit" class="btn btn-block btn-warning" {{action "remove" kv}}>
      {{entypo-icon "cross"}} Remove
    </button>
  </div>
</div>
{{/each}}
<div class="row align-items-end">
  <div class="form-group col">
    {{input type="text" placeholder="Link Text" class="form-control label" value=label}}
  </div>
  <div class="form-group col">
    {{input type="text" placeholder="https://..." class="form-control url" value=url}}
  </div>
  <div class="form-group col-2 text-right">
    <button type="submit" class="btn btn-block btn-primary" {{action "add"}}>
      {{entypo-icon "plus"}} Add
    </button>
  </div>
</div> --}}
