<img class="card-img-top" src="{{ src }}" alt="Image Preview">

<div class="card-body">

  <div class="form-group">
    <label>Title Text</label>
    {{input type="text" class="form-control form-control-sm" value=title placeholder="Click here for awesome"}}
    <small id="titleHelpBlock" class="form-text text-muted">
      The clickable text that will display in the advertisement. This should be 8-20 characters long, and must be less than 40.
    </small>
  </div>

  <div class="form-group">
    <label>Teaser</label>
    {{input type="text" class="form-control form-control-sm" value=teaser placeholder="A short description of your awesome link"}}
    <small id="titleHelpBlock" class="form-text text-muted">
      A short description for your link. This should be 40-60 characters long, and must be less than 140.
    </small>
  </div>
</div>
<div class="card-header" {{action "toggleCollapse"}}>
  Image Details
  {{#-bs/button "secondary" class="float-right" size="small" outline=true}}
    <i class="ion-{{if collapsed "chevron-down" "chevron-up"}}"></i>
  {{/-bs/button}}
</div>

{{#unless collapsed}}
<div class="card-body creative-image">
  <div class="form-group">
    {{campaign-creative/image image=image}}
    {{campaign-creative/upload class="mt-2" image=image}}
    <small id="titleHelpBlock" class="form-text text-muted">
      <ul class="list-unstyled">
        <li><strong>Dimensions</strong> At minimum, 320px &times; 180px.</li>
        <li><strong>File Size</strong> At most, 5.24 MB.</li>
        <li><strong>Format</strong> Web-safe (PNG, GIF, or JPEG.)</li>
      </ul>
    </small>
  </div>
</div>
{{/unless}}

<div class="card-footer text-right">
  <div class="col">
    {{#if loading}}
    LOADING
    {{else}}
    {{#-bs/button "danger"  class=" mr-1" size="small" outline=true click=(action "remove")}}
      {{-ion "android-close"}} Delete
    {{/-bs/button}}
    {{#-bs/button "success" class="" size="small" outline=true click=(action "update") disabled=disableSave}}
      {{-ion "checkmark-round"}} Save
    {{/-bs/button}}
    {{/if}}
  </div>
</div>

