

<img class="card-img-top border-bottom fit" src="{{src}}" alt="Image Preview">
<div class="card-img-overlay">
  <button class="btn btn-sm btn-success float-right" type="button">{{#if hasSrc}}{{entypo-icon "camera"}}{{else}}{{entypo-icon "upload"}}{{/if}}</button>
</div>

<div class="card-body">
  {{#if creative.title}}
    <h5 class="card-title">{{creative.title}}</h5>
  {{/if}}

  {{#if creative.teaser}}
    <p class="card-text">{{creative.teaser}}</p>
  {{/if}}

  <div class="dropdown">
   <button class="btn btn-sm btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{entypo-icon "flag"}} Active
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Draft</a>
    </div>
  </div>

</div>
<div class="card-footer">
  <button class="btn btn-sm btn-primary" type="button">{{entypo-icon "pencil"}} Edit</button>
  <button class="btn btn-sm btn-warning" type="button">{{entypo-icon "cross"}} Remove</button>
</div>
