

<img class="card-img-top border-bottom fit" src="{{src}}" alt="Image Preview">
<div class="card-img-overlay">
  <button class="btn btn-sm btn-success float-right">{{#if hasSrc}}{{entypo-icon "pencil"}}{{else}}{{entypo-icon "upload"}}{{/if}}</button>
</div>

<div class="card-body">
  <h5 class="card-title">{{creative.title}}</h5>
  <p class="card-text">{{creative.teaser}}</p>
</div>
<div class="card-footer">

</div>
