{{#each values as |kv|}}
<div class="row align-items-end">
  <div class="form-group col">
    {{input
      type="text"
      class="form-control form-control-sm"
      value=kv.label
      focusOut=(action "update")
    }}
  </div>
  <div class="form-group col">
    {{input
      type="text"
      placeholder="https://..."
      class="form-control form-control-sm"
      value=kv.url
      focusOut=(action "update")
    }}
  </div>
  <div class="form-group col-2">
    <button type="submit" class="btn btn-sm btn-danger btn-block" {{action "remove" kv}}>
      {{-ion "android-close"}} Remove
    </button>
  </div>
</div>
{{/each}}
<div class="row align-items-end">
  <div class="form-group col">
    {{input type="text" placeholder="Link Text" class="form-control form-control-sm label" value=label}}
  </div>
  <div class="form-group col">
    {{input type="text" placeholder="https://..." class="form-control form-control-sm url" value=url}}
  </div>
  <div class="form-group col-2 text-right">
    <button type="submit" class="btn btn-sm btn-primary btn-block" {{action "add"}}>
      {{-ion "android-add"}} Add
    </button>
  </div>
</div>
