{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "blackboard"}} Dashboard{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted px-3 mb-2">Activity for {{moment-format (now) "MMMM Do, YYYY"}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3 mb-4">
    {{dashboard/data-card
      icon="calendar"
      title="Campaigns"
      format="0"
      value=model.dailyCampaignMetrics.campaigns
      color="text-primary"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{dashboard/data-card
      icon="eye"
      title="Views"
      format="0.[00]a"
      value=model.dailyCampaignMetrics.views
      secondaryValue=model.dailyTotalMetrics.views
      color="text-info"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{dashboard/data-card
      icon="direction"
      title="Clicks"
      format="0.[0]a"
      value=model.dailyCampaignMetrics.clicks
      secondaryValue=model.dailyTotalMetrics.clicks
      color="text-warning"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{dashboard/data-card
      icon="area-graph"
      title="CTR"
      format="0.[000]%"
      value=model.dailyCampaignMetrics.ctr
      secondaryValue=model.dailyTotalMetrics.ctr
      color="text-success"
    }}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted px-3 mb-2">Campaigns</h4>
  </div>
</div>

<div class="row">
  <div class="col mb-4">
    {{dashboard/running-campaigns}}
  </div>
</div>

<div class="row">
  <div class="col mb-4">
    {{dashboard/incomplete-campaigns}}
  </div>
</div>

<div class="row">
  <div class="col-md-6 mb-4">
    {{dashboard/starting-soon class="h-100"}}
  </div>
  <div class="col-md-6 mb-4">
    {{dashboard/ending-soon class="h-100"}}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted px-3 mb-2">Publisher Metrics</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    {{dashboard/publisher-breakouts}}
  </div>
</div>

