{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "blackboard"}} Dashboard{{/crumbs.item}}
{{/nav-breadcrumbs}}


<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted px-3 mb-2">Campaign Activity for {{moment-format (now) "MMMM Do, YYYY"}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="calendar"
      title="Campaigns"
      value=model.campaigns
      format="0"
      color="text-primary"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="eye"
      title="Views"
      value=model.views
      format="0.[00]a"
      color="text-info"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="direction"
      title="Clicks"
      value=model.clicks
      format="0.[0]a"
      color="text-warning"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="area-graph"
      title="CTR"
      value=model.ctr
      format="0.[000]%"
      color="text-success"
    }}
  </div>
</div>
