{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "blackboard"}} Dashboard{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted px-3 mb-2">Campaign Activity for {{moment-format (now) "MMMM Do, YYYY"}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="calendar"
      title="Campaigns"
      value=model.dailyCampaignMetrics.campaigns
      format="0"
      color="text-primary"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="eye"
      title="Views"
      value=model.dailyCampaignMetrics.views
      format="0.[00]a"
      color="text-info"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="direction"
      title="Clicks"
      value=model.dailyCampaignMetrics.clicks
      format="0.[0]a"
      color="text-warning"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="area-graph"
      title="CTR"
      value=model.dailyCampaignMetrics.ctr
      format="0.[000]%"
      color="text-success"
    }}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted px-3 mb-2">Fallback Activity for {{moment-format (now) "MMMM Do, YYYY"}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="browser"
      title="Placements"
      value=model.dailyFallbackMetrics.placements
      format="0"
      color="text-muted"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="eye"
      title="Views"
      value=model.dailyFallbackMetrics.views
      format="0.[00]a"
      color="text-muted"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="direction"
      title="Clicks"
      value=model.dailyFallbackMetrics.clicks
      format="0.[0]a"
      color="text-muted"
    }}
  </div>
  <div class="col-sm-6 col-lg-3 mb-4">
    {{-report/data-card
      icon="area-graph"
      title="CTR"
      value=model.dailyFallbackMetrics.ctr
      format="0.[000]%"
      color="text-muted"
    }}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <h4 class="text-muted px-3 mb-2">Campaigns</h4>
  </div>
</div>

<div class="row">
  <div class="col">
    {{dashboard/running-campaigns class="mb-4"}}
  </div>
</div>

<div class="row">
  <div class="col">
    {{dashboard/incomplete-campaigns}}
  </div>
</div>
