<div class="card">
  <div class="card-header">Team Members</div>
  <div class="card-body">
    {{#each members as |member|}}
      <div class="align-items-center mt-1 mb-1 row">
        <div class="col-1">
          <img src="{{member.user.photoURL}}" class="icon icon-md md-3"></div>
        <div class="col">{{member.user.email}}</div>
        <div class="col">{{member.user.givenName}} {{member.user.familyName}}</div>
        <div class="col-1 text-right">
          <button class="btn btn-outline-danger" {{action "delete" member}}>
            {{-ion "trash-a"}}
          </button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="card">
  {{!-- <div class="card-header">Team Members</div> --}}
  <div class="card-body">

    {{#power-select placeholder="Add a user" searchField="name" options=users onchange=(action "create") as |tenant|}}
      <img src="{{tenant.photoURL}}" class="icon icon-sm mr-1"> {{tenant.name}}
    {{/power-select}}
  </div>
</div>
