{{#bs-modal show=isOpen size="large" as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">
      {{#if isNew}}Create{{else}}Edit{{/if}} Contact
    </h5>
    <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  {{progress-bar show=isActionRunning}}

  {{#model-form
    model=contact
    shouldAutosave=(eq isNew false)
    onSubmit=(action "create") as |form|
  }}

    {{#modal.body}}
      {{materials/contacts-builder/form form=form}}
    {{/modal.body}}

    {{#if isNew}}
      {{#modal.footer class="d-flex justify-content-between"}}
        {{model-save-button disabled=isActionRunning}}
      {{/modal.footer}}
    {{/if}}

  {{/model-form}}
{{/bs-modal}}
