<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="campaign-name">Name {{required-field-label}}</label>
      {{#form.elements.input
        id="campaign-name"
        class="form-control"
        type="text"
        name="name"
        label="Name"
        value=model.name
        aria-labeledby="campaign-name-help"
        on-change=(action "setFieldValue")
        required=true as |input|
      }}
        <div class="input-group">
          {{input.element}}
          {{input.elements.indicator}}
          {{input.elements.invalid-feedback}}
        </div>
      {{/form.elements.input}}
      <small id="campaign-name-help" class="form-text text-muted">An internal name for this campaign.</small>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="name">Advertiser {{required-field-label}}</label>
      {{#form.elements.typeahead
        id="campaign-advertiser"
        placeholder="Being typing to search..."
        class="form-control"
        name="advertiser"
        label="Advertiser"
        value=model.advertiser
        required=true
        allowClear=false
        on-search=(action "searchAdvertisers")
        on-change=(action "setAdvertiser") as |typeahead|
      }}
        {{#typeahead.element as |advertiser|}}
          {{advertiser.name}}
        {{/typeahead.element}}
        {{typeahead.elements.invalid-feedback}}
      {{/form.elements.typeahead}}
    </div>
  </div>
</div>
