{{#autosave-form onUpdate=(route-action "update") model=model as |form|}}
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="campaign.name">Name</label>
        {{input
          type="text"
          value=model.name
          class="form-control"
          id="campaign.name"
          placeholder="Name"
          focusOut=(action form.update)
          keyUp=(action form.actions.autosave 750)
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="description">Description</label>
        {{input
          type="text"
          value=model.description
          class="form-control"
          id="description"
          placeholder="Description"
          focusOut=(action form.update)
          keyUp=(action form.actions.autosave 750)
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="name">Advertiser</label>
        {{autocomplete-single
          placeholder="Select an advertiser"
          type="advertiser"
          selected=model.advertiser
          onChange=(action form.setAndUpdate "advertiser")
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="name">URL</label>
        {{input
          type="text"
          value=model.url
          class="form-control"
          id="url"
          placeholder="URL"
          focusOut=(action form.update)
          keyUp=(action form.actions.autosave 750)
        }}
      </div>
    </div>
  </div>

  {{#if canChangeStatus}}
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="name">Status</label>
        {{#power-select options=statii selected=model.status onchange=(action form.setAndUpdate "status") as |status|}}
          {{ status }}
        {{/power-select}}
      </div>
    </div>
  </div>
  {{/if}}

  <div class="row">
    <div class="form-group col">
      <label for="placements">External Links</label>
      {{external-links
        values=model.externalLinks
        onChange=(action form.update)
      }}
    </div>
  </div>
{{/autosave-form}}
