<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Name</label>
      {{input type="text" value=model.name class="form-control" id="name" placeholder="Name"}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="description">Description</label>
      {{input type="text" value=model.description class="form-control" id="description" placeholder="Description"}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Advertiser</label>
      {{autocomplete-single
        placeholder="Select an advertiser"
        type="advertiser"
        selected=model.advertiser
        onSelect=(action (mut model.advertiser))
      }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Publisher</label>
      {{autocomplete-single
        placeholder="Select an publisher"
        type="publisher"
        selected=model.publisher
        onSelect=(action (mut model.publisher))
      }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">URL</label>
      {{input type="text" value=model.url class="form-control" id="url" placeholder="URL"}}
    </div>
  </div>
</div>

{{#if canChangeStatus}}
<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Status</label>
      {{#power-select options=statii selected=model.status onchange=(action (mut model.status)) as |status|}}
        {{ status }}
      {{/power-select}}
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class="form-group col">
    <label for="placements">External Links</label>
    {{external-links values=model.externalLinks}}
  </div>
</div>
