{{!-- {{#-bs/button 'success' class='create float-right fixed-bottom' click=(route-action 'linkTo' 'order.create')}}{{-ion 'android-create'}} Create{{/-bs/button}} --}}
{{#-bs/button 'secondary' class='fixed-bottom' click=(route-action 'scrollToTop')}}{{-ion 'chevron-up'}}{{/-bs/button}}

<div class="row">
  <div class="col">
    <h3 class="float-left mb-0">Orders</h3>
  </div>
</div>
<hr>

<div class="row mb-4">
  <div class="col">
    <div class="row">
      <div class="col-8 col-sm-6">
        {{ partial 'list/search-controls'}}
      </div>
      <div class="col-4 col-sm-6">
        {{ partial 'list/filters' }}
      </div>
    </div>
  </div>
</div>

{{list-create modelType='order' withAdvertiser=true withDates=true onCreate='onCreate'}}

<div class="row mb-2">
  <div class="col">
    {{#each model as |order|}}
      {{list-item/order order=order}}
    {{else}}
      <h5 class="text-primary">No results found.</h5>
    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col">
    {{ partial 'list/pagination' }}
  </div>
</div>
