{{#if session.isAuthenticated}}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTenant" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{#if user.tenant}}
        <img src="{{user.tenant.photoURL}}" class="icon icon-sm mr-1">
        {{user.tenant.name}}
      {{else}}
        Select account
      {{/if}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownTenant">
      {{#link-to "tenant.settings" user.tenant.id class="dropdown-item flex"}}
        <span>Settings</span>
        <span class="ml-auto tenant-action">
          {{-ion "settings"}}
        </span>
      {{/link-to}}

      {{#if (gt user.tenants.length 1)}}
      <div class="dropdown-divider"></div>

        {{#each user.tenants as |tenant|}}
          {{#unless (eq tenant.id user.tenant.id)}}
          {{#link-to 'tenant.index' tenant.id class="dropdown-item" title="Switch to this account"}}
            <img src="{{tenant.photoURL}}" class="icon icon-sm mr-1"> {{tenant.name}}
          {{/link-to}}
          {{/unless}}
        {{/each}}
        {{/if}}

      {{!-- <div class="dropdown-divider"></div>
      {{#link-to "tenant.create" class="dropdown-item"}}New Tenant{{/link-to}} --}}
    </div>
  </li>
{{/if}}
