{{#if session.isAuthenticated}}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" title="User Settings" data-toggle="dropdown" href="javascript:void(0)" role="button">
      {{entypo-icon "user"}} <span class="d-none d-md-inline">{{user.model.givenName}} {{user.model.familyName}}</span>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
      {{#link-to "user-settings" class="dropdown-item"}}
        {{entypo-icon "cog"}} Settings
      {{/link-to}}

      <div class="dropdown-divider"></div>

      {{#link-to "logout" class="dropdown-item" title="Logout of the Application"}}
        {{entypo-icon "log-out"}} Logout
      {{/link-to}}
    </div>
  </li>
{{else}}
  {{#link-to "login" tagName="li" class="nav-item" title="Login Into the Application"}}
    {{#link-to "login" class="nav-link"}}{{entypo-icon "login"}}  Log In{{/link-to}}
  {{/link-to}}
{{/if}}
