<div class="card-body">
  {{-report/campaign-title campaign=model.campaign}}

  {{#auto-save/form as |form|}}
    <div class="form-group mb-0">
      <label for="campaign-url" class="font-weight-bold text-muted">Click URL {{required-field-label}}</label>

      {{#form.elements.input
        id="campaign-url"
        class="form-control"
        type="url"
        value=model.campaign.url
        placeholder="https://www.yourlink.com"
        required=true
        on-change=(action "saveField" "url" "Click URL")
        validator=(action "validateUrl") as |input|
      }}
        <div class="input-group">
          {{input.element}}
          {{input.elements.indicator}}
          {{input.elements.invalid-feedback}}
        </div>
      {{/form.elements.input}}
    </div>
  {{/auto-save/form}}
</div>
