<h5 class="card-title font-weight-bold text-uppercase text-danger mb-0">
  Story
</h5>
<div class="text-muted mb-3">
  Create your sponsored content.
</div>

{{#with model.campaign.story as |story|}}

  {{#auto-save/form as |form|}}

    <div class="form-group">
      <label for="story-title" class="font-weight-bold text-muted">Title / Headline {{required-field-label}}</label>
      {{#form.elements.input
        id="story-title"
        class="form-control form-control-lg"
        type="text"
        value=(if story.placeholder "" story.title)
        required=true
        on-change=(action "setStoryTitle" ) as |input|
      }}
        {{input.element}}
        {{input.elements.invalid-feedback}}
      {{/form.elements.input}}
    </div>

    <div class="form-group">
      <label for="story-teaser" class="font-weight-bold text-muted">Teaser / Deck {{required-field-label}}</label>
      {{#form.elements.textarea
        id="story-teaser"
        class="form-control"
        value=story.teaser
        required=true
        on-change=(action "setStoryTeaser" ) as |textarea|
      }}
        {{textarea.element}}
        {{textarea.elements.invalid-feedback}}
      {{/form.elements.textarea}}
    </div>
  {{/auto-save/form}}

  <div class="form-group">
    <label for="story-teaser" class="font-weight-bold text-muted">Body {{required-field-label}}</label>
    <div class="form-group mb-0">
      {{story-editor value=story.body storyId=story.id update=(action "setStoryBody")}}
    </div>
  </div>
{{/with}}
