<div class="row">
  <div class="col">
    <h3 class="mb-0">
      Modify Advertiser
      <div class="float-right">
        {{#-bs/button "success" class="float-right" size="small" outline=true click=(route-action "update" model "advertiser") disabled=(eq canSave false)}}
          {{-ion "checkmark-round"}} Save
        {{/-bs/button}}
        {{#-bs/button "danger"  class="float-right mr-1" size="small" outline=true click=(route-action "hardDelete" model "advertiser.index")}}
          {{-ion "android-close"}} Delete
        {{/-bs/button}}
        {{#-bs/button "secondary"  class="float-right mr-1" size="small" outline=true click=(route-action "linkTo" "advertiser.index")}}
          {{-ion "android-arrow-back"}} Back
        {{/-bs/button}}
      </div>
    </h3>
  </div>
</div>
<hr>

{{partial "advertiser/form"}}

<div class="row mt-4">
  <div class="col">
    <h4 class="mb-0">
      Campaigns
    </h4>
  </div>
</div>
<hr>

<div class="row mb-4">
  <div class="col">
    {{#each model.campaigns as |campaign|}}
      {{#link-to 'campaign.edit' campaign.id class='list-group-item list-group-item-action flex-column align-items-start'}}
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{campaign.name}}</h5>
          <small>{{moment campaign.start}} - {{moment campaign.end}}</small>
        </div>
        <small>{{campaign.id}}</small>
      {{/link-to}}
    {{else}}
      <h5 class="text-primary">No campaigns found.</h5>
    {{/each}}
  </div>
</div>
