<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Name {{required-field-label}}</label>
      {{input
        type="text"
        required=true
        value=form.model.name
        class="form-control"
        id="name"
        placeholder="Name"
        autofocus=true
        focusOut=(action form.actions.autosave)
        keyUp=(action form.actions.autosave 750)
      }}
      <div class="invalid-feedback">
        Please provide an advertiser name.
      </div>
    </div>
    <div class="form-group mb-0">
      <label for="logo">Logo Url</label>
      {{input
        type="url"
        value=form.model.logo
        class="form-control"
        id="logo"
        placeholder="Logo Url"
        autofocus=true
        focusOut=(action form.actions.autosave)
        keyUp=(action form.actions.autosave 750)
      }}
      <div class="invalid-feedback">
        Please provide a valid URL, or leave empty.
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="form-group">
      <label>Internal Contacts</label>
      {{#type-ahead
        multiple=true
        wasFormValidated=form.wasValidated
        triggerClass="form-control"
        placeholder="Begin typing to search..."
        type="contact"
        closeOnSelect=true
        onChange=(action form.actions.autosave)
        selected=form.model.notify.internal as |item|
      }}
        {{item.name}} <span class="text-muted">[{{item.email}}]</span>
      {{/type-ahead}}
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label>External Contacts</label>
      {{#type-ahead
        multiple=true
        wasFormValidated=form.wasValidated
        triggerClass="form-control"
        placeholder="Begin typing to search..."
        type="contact"
        closeOnSelect=true
        onChange=(action form.actions.autosave)
        selected=form.model.notify.external as |item|
      }}
        {{item.name}} <span class="text-muted">[{{item.email}}]</span>
      {{/type-ahead}}
    </div>
  </div>
</div>
