{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "manage.campaign.index"}}{{entypo-icon "calendar"}} Campaigns{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}Create New{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{#-forms/campaign/create
  model=model
  on-success=(route-action "transitionWithModel" "manage.campaign.edit")
  on-error=(route-action "error")
  as |form|
}}
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">

      <div class="row">
        <div class="col">
          {{form.fields.type}}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          {{form.fields.name class="mb-3 mb-sm-0"}}
        </div>
        <div class="col-sm-6">
          {{#if (eq form.campaignType 'existing-story')}}
            {{form.fields.story class="mb-0"}}
          {{else}}
            {{form.fields.advertiser class="mb-0"}}
          {{/if}}
        </div>
      </div>

      {{#if (eq form.campaignType 'new-story')}}
        <div class="row">
          <div class="col-sm-6">
            {{form.fields.publisher class="mb-0 mt-3"}}
          </div>
        </div>
      {{/if}}

    </div>
    <div class="card-footer">
      {{form.buttons.save}}
    </div>
  </div>
{{/-forms/campaign/create}}
