{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "story.index"}}{{entypo-icon "open-book"}} Stories{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.title }} ({{model.advertiser.name}}){{/crumbs.item}}
{{/nav-breadcrumbs}}

{{#model-form
  model=model
  shouldAutosave=true
  onSubmit=(action "update") as |form|
}}
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "story/forms/full" }}
    </div>
    <div class="card-footer">
      {{model-save-button disabled=isActionRunning}}
      <div class="btn-group float-right">
        {{confirm-button
          icon="trash"
          label="Delete"
          class="btn-danger"
          disabled=isActionRunning
          onConfirm=(action "delete" model.id "story.index")
        }}
      </div>
    </div>
  </div>
{{/model-form}}
