<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-xl-3 grid preview">
        {{#if creative.image}}
        <img src="{{ creative.image.src }}?w=640&h=360&crop=focalPoint&fit=crop&dpr=1&fp-x={{ creative.image.focalPoint.x }}&fp-y={{ creative.image.focalPoint.y }}"
          class="img-fluid">
        {{/if}}
        <h3 class="mt-3 font-weight-bold">{{ creative.title }}</h3>
        {{#if creative.teaser}}
        <p>{{ creative.teaser }}</p>
        {{/if}}
        <p class="mb-0">
          <strong>Sponsored</strong> - {{moment-format model.campaignHash.criteria.start "MMM DD, YYYY"}}</p>
      </div>
      <div class="col-md-6 col-xl-9">
        <div class="row">

          <div class="col-xl-4 mb-3">
            {{-report/data-card
              icon="eye"
              title="Impressions"
              value=creative.views
              secondaryValue=impressions
              color="text-info"
              subtitle="In-View impressions"
            }}
          </div>
          <div class="col-xl-4 mb-3">
            {{-report/data-card
              icon="direction"
              title="Clicks"
              value=creative.clicks
              secondaryValue=clicks
              color="text-warning"
              subtitle="Success of online ads"
            }}
          </div>
          <div class="col-xl-4 mb-3">
            {{-report/data-card
              icon="area-graph"
              title="CTR"
              value=creative.ctr
              secondaryValue=ctr
              color="text-success"
              subtitle="Click-through rate"
            }}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
