<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4 col-xs-4">
        <div class="h1 text-center {{ color }}">
          {{entypo-icon icon}}
        </div>
      </div>
      <div class="col-8 text-right">
        <p class="mb-0 text-uppercase">{{ title }}</p>
        <span class="h4 {{ color }}">{{ value }}</span>
        {{#if secondaryValue }}
        <small class="text-muted">({{ secondaryValue }})</small>
        {{/if}}
      </div>
    </div>
    <div class="footer text-center text-muted">
      <hr>
      <small class="text-muted text-uppercase">{{ subtitle }}</small>
    </div>
  </div>
</div>
