<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-lg-9 mx-auto">


      <h3 class="font-weight-bold text-muted mb-4">
        <span class="text-uppercase">Ad Builder</span>
        <span class="h6 text-muted">Please submit your native ad campaign.</span>
      </h3>

      <div class="card mb-4 border-0 z-depth-half">
        <div class="card-body">
          {{-report/campaign-title campaign=model.campaign}}

          {{#model-form
            model=model.campaign
            shouldAutosave=true
            preValidate=(action "validateUrl")
            onSubmit=(action "updateUrl") as |form|
          }}
            <div class="form-group mb-0">
              <label for="campaign-url" class="font-weight-bold text-muted">Click URL {{required-field-label}}</label>
              {{!-- @todo Ensure this uses custom validation for the URL --}}
              {{input
                id="campaign-url"
                class="form-control"
                type="url"
                aria-describedby="campaign-url-help"
                pattern="https?://.+"
                required=true
                value=form.model.url
                focusOut=(action form.actions.autosave)
                keyUp=(action form.actions.autosave 750)
              }}
              <div class="invalid-feedback">
                Please enter a valid URL.
              </div>
              <small id="campaign-url-help" class="form-text text-muted">
                The link must start with <code>http://</code> or <code>https://</code>
              </small>
            </div>
          {{/model-form}}

        </div>
      </div>

      <div class="card mb-4 border-0 z-depth-half">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-uppercase text-info mb-0">
            Creatives
          </h5>
          <div class="text-muted mb-3">
            Build your native ad unit.
          </div>

          <div class="row">
            {{#each model.campaign.creatives as |creative|}}
              <div class="mb-3 col-12 col-lg-6">
                {{campaign-creative
                  canRemove=canRemoveCreatives
                  editRouteName="portal.campaigns.manage.materials.creatives.edit"
                  displayEditButton=true
                  creativeId=creative.id
                  campaignId=model.campaign.id
                  title=creative.title
                  teaser=creative.teaser
                  status=creative.status
                  image=creative.image
                }}
              </div>
            {{/each}}
            <div class="mb-3 col-12 col-lg-6">

              {{#link-to "portal.campaigns.manage.materials.creatives.create" class="card mnh-100 border-success text-success"}}
                <div class="card-body text-center d-flex flex-column justify-content-center">
                  {{entypo-icon "circle-with-plus" class="h1"}}
                  <span class="h4">Add Creative</span>
                </div>
              {{/link-to}}

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{{outlet}}
