<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">


      <h3 class="font-weight-bold text-muted">
        <span class="text-uppercase">Ad Builder</span>
        <span class="h6 text-muted">Please submit your native ad campaign.</span>
      </h3>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title font-weight-bold text-uppercase text-danger mb-0">
            Campaign
          </h5>
          <div class="text-muted mb-3">
            {{moment-format model.criteria.start "MM/DD/YYYY"}}{{#if model.criteria.end}} - {{moment-format
            model.criteria.end "MM/DD/YYYY"}}{{/if}} {{#if model.description}} | {{ model.description }} {{/if}}
          </div>

          <div class="form-group mb-0">
            <label for="campaign-url" class="font-weight-bold text-muted">Click URL {{required-field-label}}</label>
            {{!-- @todo Ensure this uses custom validation for the URL --}}
            {{input
              id="campaign-url"
              class="form-control"
              type="url"
              aria-describedby="campaign-url-help"
              pattern="https?://.+"
              required=true
              value=model.url
            }}
            <div class="invalid-feedback">
              Please enter a valid URL.
            </div>
            <small id="campaign-url-help" class="form-text text-muted">
              The link must start with <code>http://</code> or <code>https://</code>
            </small>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
