<div class="card-header text-uppercase"><span class="text-primary font-weight-bold">Ending</span> Soon</div>
<div class="card-body">
  {{#if isLoading}}
    <small class="text-muted">Loading data...</small>
    {{progress-bar show=true}}
  {{else}}
    <h5 class="text-muted card-title">Total Results: {{data.totalCount}}</h5>
    {{#fetch-more
      class="table-responsive"
      query=observable
      edges=data.edges
      hasNextPage=data.pageInfo.hasNextPage
      endCursor=data.pageInfo.endCursor
      on-fetch-start=(route-action "showLoading")
      on-fetch-end=(route-action "hideLoading")
      resultKey="runningCampaigns" as |fetch|
    }}
      <table class="table table-sm table-hover mb-0">
        <thead>
          <tr>
            <th>Advertiser</th>
            <th>Name</th>
            <th colspan="2">&nbsp;</th>
          </tr>
        </thead>
        <tbody>

          {{#each fetch.nodes as |item|}}
            <tr>
              <td>{{#link-to "manage.advertiser.edit" item.advertiser.id}}{{item.advertiser.name}}{{/link-to}}</td>
              <td>{{#link-to "manage.campaign.edit" item.id}}{{item.name}}{{/link-to}}</td>
              <td>{{campaign-date tagName="div" futureLabel="Ends" pastLabel="Ended" date=item.criteria.end}}</td>
              <td>{{campaign-status status=item.status}}</td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4" class="text-center text-muted">No Results</td>
            </tr>
          {{/each}}

        </tbody>

        {{#if fetch.hasNextPage}}
          <tfoot>
            <tr colspan="4">
              <button class="btn btn-primary btn-sm mt-2" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
                {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
              </button>
            </tr>
          </tfoot>
        {{/if}}
      </table>
    {{/fetch-more}}
  {{/if}}
</div>
