<div class="card-header text-uppercase">{{campaign-status status="Running" class="font-weight-bold"}} Campaigns</div>
<div class="card-body">
  {{#if isLoading}}
    <small class="text-muted">Loading data...</small>
    {{progress-bar show=true}}
  {{else}}
    {{#if data.totalCount}}
      <h5 class="text-muted card-title">Total Results: {{data.totalCount}}</h5>
    {{/if}}
    {{#fetch-more
      class="table-responsive"
      query=observable
      edges=data.edges
      hasNextPage=data.pageInfo.hasNextPage
      endCursor=data.pageInfo.endCursor
      on-fetch-start=(route-action "showLoading")
      on-fetch-end=(route-action "hideLoading")
      resultKey="runningCampaigns" as |fetch|
    }}
      <table class="table table-sm table-hover mb-0">
        <thead>
          <tr>
            <th>Advertiser</th>
            <th>Name</th>
            <th>Started</th>
            <th>Ends</th>
            <th>Views</th>
            <th>Clicks</th>
            <th>CTR</th>
          </tr>
        </thead>
        <tbody>

          {{#each fetch.nodes as |item|}}
            <tr>
              <td>{{item.advertiser.name}}</td>
              <td>{{#link-to "manage.campaign.edit" item.id}}{{item.name}}{{/link-to}}</td>
              <td>{{if item.criteria.start (moment-format item.criteria.start "MMM Do, YYYY @ h:mma") "Never"}}</td>
              <td>{{if item.criteria.end (moment-format item.criteria.end "MMM Do, YYYY @ h:mma") "Never"}}</td>
              {{#with item.metrics as |metrics|}}
                <td>{{number-format metrics.views "0,0"}}</td>
                <td>{{number-format metrics.clicks "0,0"}}</td>
                <td>{{number-format metrics.ctr "0.[00]%"}}</td>
              {{/with}}
            </tr>
          {{/each}}

        </tbody>
      </table>
    {{/fetch-more}}
  {{/if}}
</div>
