{{#autosave-form onUpdate=(route-action "update") model=model as |form|}}
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="campaign-name">Name {{required-field-label}}</label>
        {{input
          type="text"
          required=true
          value=model.name
          class="form-control"
          id="campaign-name"
          placeholder="Name"
          focusOut=(action form.update)
        }}
        {{!-- <small class="form-text text-muted">Required.</small> --}}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="name">Advertiser {{required-field-label}}</label>
        {{#type-ahead
          placeholder="Begin typing to search..."
          type="advertiser"
          closeOnSelect=true
          allowClear=false
          onchange=(action form.setAndUpdate "advertiser")
          selected=model.advertiser as |item|
        }}
          {{item.name}}
        {{/type-ahead}}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="campaign-url">URL {{required-field-label}}</label>
        {{input
          type="url"
          required=true
          value=model.url
          class="form-control"
          id="campaign-url"
          placeholder="https://www.domain.com..."
          focusOut=(action form.update)
        }}
      </div>
    </div>
  </div>

  {{#unless model.isNew}}
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name">Status {{required-field-label}}</label>
          {{#power-select options=statii selected=model.status onchange=(action form.setAndUpdate "status") as |status|}}
            {{ status }}
          {{/power-select}}
        </div>
      </div>
    </div>
  {{/unless}}

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="campaign-description">Description</label>
        {{textarea
          value=model.description
          class="form-control"
          id="campaign-description"
          placeholder="A brief description of this campaign..."
          focusOut=(action form.update)
        }}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="form-group col">
      <label for="placements">External Links</label>
      {{!-- {{external-links
        values=model.externalLinks
        onChange=(action form.update)
      }} --}}
    </div>
  </div>
{{/autosave-form}}
