{{#link-to
  "manage.publisher.edit" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{item.name}}</h5>
    {{#if item.updatedAt}}
      <small class="d-block" title="{{moment-format item.updatedAt 'MMM Do, YYYY h:mm a'}}">
        {{entypo-icon "clock"}} Updated {{moment-from-now item.updatedAt}}
      </small>
    {{/if}}
  </div>

  <small class="d-block">ID: {{item.id}}</small>
{{/link-to}}
