{{#bs-modal show=true size="large" onHidden=(route-action "transitionTo" "manage.publisher.edit.topics") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">Create Topic: {{model.publisher.name}}</h5>
    <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}

  {{#model-form
    model=model
    shouldAutosave=false
    onSubmit=(action "create") as |form|
  }}
    {{#modal.body}}
      {{partial "manage/publisher/edit/topics/form"}}
    {{/modal.body}}

    {{#modal.footer}}
      {{model-save-button disabled=isActionRunning}}
    {{/modal.footer}}
  {{/model-form}}

{{/bs-modal}}
