<div class="card-body">
  <div class="row">
    {{#each model.creatives as |creative|}}
      <div class="mb-3 col-12 col-md-6 col-lg-4">
        {{!-- {{campaign-creative-bak campaignId=model.id creative=creative}} --}}
        {{!-- {{campaign-creative creative=creative}} --}}
        {{ partial "campaign/edit/creatives/card" }}
      </div>
    {{/each}}
  </div>
</div>

<div class="card-footer">
</div>

{{model-create-button icon="images" title="Add Creative" click=(route-action "transitionTo" "campaign.edit.creatives.create")}}

{{outlet}}
