  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="start">Starts On</label>
        {{-calendar currentDay=model.start maxDate=startMax minDate=startMin onSelect=(action (mut model.start))}}
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="end">Ends On</label>
        {{-calendar currentDay=model.end maxDate=endMax minDate=endMin onSelect=(action (mut model.end)) canRemove=true}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label for="placements">Placements</label>
      {{#autocomplete-multiple
        placeholder="Select an placement"
        type="placement"
        selected=model.placements
        onSelect=(action (mut model.placements))
        as |model|
      }}
        {{ model.name }} ({{ model.publisher.name }})
      {{/autocomplete-multiple}}
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      {{key-values values=model.kvs}}
    </div>
  </div>
