{{#model-form
  model=model
  shouldAutosave=false as |form|
}}
  {{progress-bar show=isActionRunning}}
  {{#bs-modal/body}}
    {{ partial "manage/campaign/forms/creative-image" }}
  {{/bs-modal/body}}

  {{#bs-modal/footer class="d-flex justify-content-between"}}
    <button class="btn btn-success" disabled={{isActionRunning}} {{action (route-action "hideModal")}}>{{entypo-icon "check"}} OK</button>
  {{/bs-modal/footer}}
{{/model-form}}
