<div class="card-body">

  <div class="row">
    {{!-- Fix menu alignment, once https://github.com/twbs/bootstrap/pull/26255 is merged --}}
    <div class="col">
      <div class="btn-toolbar float-md-right" role="toolbar" aria-label="Filter Toolbar">
        {{list-controls/sort
          class="mr-2"
          options=sortOptions
          ascending=ascending
          sortBy=sortBy
          disabled=isSortDisabled
          alignment="right"
        }}
        {{list-controls/limit options=limitOptions limit=first alignment="right"}}
      </div>
    </div>
  </div>

</div>
{{#fetch-more
  query=observable
  edges=model.placements.edges
  hasNextPage=model.placements.pageInfo.hasNextPage
  endCursor=model.placements.pageInfo.endCursor
  on-fetch-start=(route-action "showLoading")
  on-fetch-end=(route-action "hideLoading")
  resultKey=resultKey
  applyToField="placements" as |fetch|
}}
  <ul class="list-group list-group-flush">
    <li class="list-group-item pt-0"><h5 class="mb-0 text-muted">Total Results: {{model.placements.totalCount}}</h5></li>
    {{#each fetch.nodes as |item|}}
      {{partial "manage/publisher/edit/placements/list-item"}}
    {{/each}}
  </ul>

  <div class="card-footer border-0">
    {{#if fetch.hasNextPage}}
      <button class="btn btn-primary btn-lg" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
        {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
      </button>
    {{/if}}
  </div>

{{/fetch-more}}

{{model-create-button icon="browser" title="Create Placement for Publisher" click=(route-action "transitionTo" "manage.publisher.edit.placements.create")}}

{{outlet}}
