<div class="container my-3">
  <div class="row mb-3">
    <div class="col">
      <h3 class="mb-0 font-weight-bold text-muted">
        <span class="text-uppercase">Campaign Summary Report</span>
        <span class="h6 text-muted">a real-time summary of your campaign's most important metrics</span>
      </h3>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      {{-report/campaign-title campaign=model.campaignHash}}
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 mb-3">
      {{-report/data-card
        icon="eye"
        title="Impressions"
        value=impressions
        color="text-info"
        subtitle="Displayed viewable impressions"
      }}
    </div>
    <div class="col-xl-4 mb-3">
      {{-report/data-card
        icon="direction"
        title="Clicks"
        value=clicks
        color="text-warning"
        subtitle="Success of online ads"
      }}
    </div>
    <div class="col-xl-4 mb-3">
      {{-report/data-card
        icon="area-graph"
        title="CTR"
        value=ctr
        color="text-success"
        subtitle="Click-through rate"
      }}
    </div>

  </div>

  <div class="row mb-3">
    <div class="col">
      {{-report/data-chart series=impressionSummary.data options=impressionSummary.options }}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      {{-report/data-chart series=ctrSummary.data options=ctrSummary.options }}
    </div>
  </div>

</div>
