{{#if user.isAuthenticated}}
  <li class="nav-item dropdown">
    {{#link-to this.target.currentRouteName
      id="navbar-dropdown-manage"
      diabled=true
      data-toggle="dropdown"
      class="nav-link dropdown-toggle"
      title="Manage Data Objects"
      current-when="manage.publisher manage.placement manage.template manage.contact"
    }}
      {{entypo-icon "tools"}} <span class="d-none d-md-inline">Manage</span>
    {{/link-to}}

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-manage">
      {{#link-to "manage.publisher" class="dropdown-item d-flex justify-content-between" title="Manage Publishers"}}
        Publishers
        {{entypo-icon "network"}}
      {{/link-to}}
      {{#link-to "manage.topic" class="dropdown-item d-flex justify-content-between" title="Manage Topics"}}
        Topics
        {{entypo-icon "price-tag"}}
      {{/link-to}}
      {{#link-to "manage.placement" class="dropdown-item d-flex justify-content-between" title="Manage Placements"}}
        Placements
        {{entypo-icon "browser"}}
      {{/link-to}}
      {{#link-to "manage.template" class="dropdown-item d-flex justify-content-between" title="Manage Templates"}}
        Templates
        {{entypo-icon "news"}}
      {{/link-to}}
      {{#link-to "manage.contact" class="dropdown-item d-flex justify-content-between" title="Manage Contacts"}}
        Contacts
        {{entypo-icon "v-card"}}
      {{/link-to}}
    </div>
  </li>
{{/if}}
