<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="name">Name</label>
      {{input type="text" value=model.name class="form-control" id="name" placeholder="Name"}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="start">Start Date</label>
      {{-calendar currentDay=model.start maxDate=startMax minDate=startMin onSelect=(action (mut model.end))}}
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="end">End Date</label>
      {{-calendar currentDay=model.end maxDate=endMax minDate=endMin onSelect=(action (mut model.end)) canRemove=true}}
    </div>
  </div>
</div>

<fieldset class="row form-group bg-secondary m-auto p-3 text-light">
  <label>Relationships <span class="text-warning">DEV Testing</span></label>
  <div class="row">
    <div class="col-4">
      <label for="advertiser">Advertiser</label>
      {{autocomplete-single type="advertiser" selected=model.advertiser onSelect=(action (mut model.advertiser))}}
    </div>
    <div class="col-4">
      <label for="advertorderiser">Order</label>
      {{autocomplete-single type="order" selected=model.order onSelect=(action (mut model.order))}}
    </div>
    <div class="col-4">
      <label for="advertorderiser">Line Item</label>
      {{!-- {{autocomplete-single type="line-item" selected=model.lineItem onSelect=(action (mut model.lineItem))}} --}}
    </div>
  </div>
</fieldset>

<div class="row mt-3">
  <div class="col">
    {{#-bs/button 'success' click=(route-action 'save' model 'line-item') disabled=(eq model.canSave false)}}
      {{-ion 'checkmark-round'}} Save
    {{/-bs/button}}
    {{!-- {{#unless model.canSave}}
      <small class="form-text text-info">In order to save, {{model.reasonForPreventSave}}</small>
    {{/unless}} --}}
  </div>
</div>
