{{#if displayNav}}
  {{partial "navigation"}}
{{/if}}

{{outlet "branding"}}

<div class="container my-5">
  {{outlet}}
</div>

<div id="loading-trigger" style="display:none; opacity:0.8">
  {{partial "loading"}}
</div>

{{ember-notify messageStyle='bootstrap'}}

{{#if displayNav}}
  {{partial "navigation/footer"}}
{{/if}}
