<div class="sticky-top z-depth-1-half">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    {{#link-to "index" class="navbar-brand"}}Fortnight{{/link-to}}

    <ul class="navbar-nav mr-auto">
      {{#unless user.isAuthenticated}}
        {{#link-to "about" tagName="li" class="nav-item"}}
          {{#link-to "about" class="nav-link" title="Information About the Application"}}{{entypo-icon "info-with-circle"}} About{{/link-to}}
        {{/link-to}}
      {{else}}
        {{#link-to "index" tagName="li" class="nav-item"}}
          {{#link-to "index" class="nav-link" title="Dashboard"}}
            {{entypo-icon "blackboard"}} <span class="d-none d-md-inline">Dashboard</span>
          {{/link-to}}
        {{/link-to}}

        {{#link-to "campaign" tagName="li" class="nav-item"}}
          {{#link-to "campaign" class="nav-link" title="Manage Campaigns"}}
            {{entypo-icon "credit"}} <span class="d-none d-md-inline">Campaigns</span>
          {{/link-to}}
        {{/link-to}}

        {{#link-to "advertiser" tagName="li" class="nav-item"}}
          {{#link-to "advertiser" class="nav-link" title="Manage Advertisers"}}
            {{entypo-icon "archive"}} <span class="d-none d-md-inline">Advertisers</span>
          {{/link-to}}
        {{/link-to}}
      {{/unless}}
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="https://docs.fortnight.as3.io" title="Application Documentation" class="nav-link" target="_blank" rel="noopener noreferrer">
          {{entypo-icon "text-document"}} <span class="d-none d-md-inline">Documentation</span>
        </a>
      </li>
      {{partial "navigation/models"}}
      {{partial "navigation/user"}}
    </ul>

  </nav>

  {{loading-progress class="bg-dark"}}
</div>


