<div class="card mnh-100">
  {{image-crop
    imgClass="card-img-top border-bottom"
    aspectRatio="16:9"
    originalSrc=creative.image.src
    fpX=creative.image.focalPoint.x
    fpY=creative.image.focalPoint.y
    alt="Image Preview"
  }}
  <div class="card-img-overlay">
    <button class="btn btn-sm btn-success float-right" type="button">{{#if image.hasSrc}}{{entypo-icon "camera"}}{{else}}{{entypo-icon "upload"}}{{/if}}</button>
  </div>

  <div class="card-body">
    {{#if creative.title}}
      <h5 class="card-title">{{creative.title}}</h5>
    {{/if}}

    {{#if creative.teaser}}
      <p class="card-text">{{creative.teaser}}</p>
    {{/if}}

    <div class="dropdown">
    <button class="btn btn-sm btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{entypo-icon "flag"}} Active
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Draft</a>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-primary" type="button">{{entypo-icon "pencil"}} Edit</button>
    <button class="btn btn-sm btn-warning" type="button">{{entypo-icon "cross"}} Remove</button>
  </div>
</div>
