<div class="card mnh-100">
  {{#if creative.image.src}}
    {{image-crop
      imgClass="card-img-top border-bottom"
      aspectRatio="16:9"
      originalSrc=creative.image.src
      fpX=creative.image.focalPoint.x
      fpY=creative.image.focalPoint.y
      alt="Image Preview"
    }}
  {{/if}}
  <div class="card-img-overlay">

    <div class="dropdown float-right">
      <button class="btn btn-sm btn-primary dropdown-toggle" disabled={{isActionRunning}} type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{entypo-icon "dots-three-vertical"}}
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item d-flex justify-content-between">
          Set to Draft
          {{entypo-icon "flag"}}
        </a>

        <a class="dropdown-item d-flex justify-content-between">
          Edit
          {{entypo-icon "pencil"}}
        </a>

      </div>
    </div>
  </div>

  <div class="card-body">
    {{#if creative.title}}
      <h5 class="card-title">{{creative.title}}</h5>
    {{/if}}

    {{#if creative.teaser}}
      <p class="card-text">{{creative.teaser}}</p>
    {{/if}}

  </div>
  <div class="card-footer d-flex justify-content-between">
    {{campaign-status value=creative.status}}
    {{confirm-button
      icon="trash"
      confirmIcon="warning"
      label=""
      confirmLabel=""
      class="btn-sm btn-warning"
      disabled=isActionRunning
      onConfirm=(action "remove" creative.id)
    }}
  </div>
</div>
